.container {
  align-items: center;
  display: flex;
  justify-content: space-around;
  min-height: 100vh;
  padding: 1.5rem;
}

.nasa-photo {
  max-height: 95vh;
  max-width: 50%;
}

.info {
  margin: 2.5%;
  opacity: .8;
}

h1 {
  font-size: 2rem;
  letter-spacing: .1em;
  margin-bottom: 1rem;
}

p {
  margin-bottom: .5rem;
}

time {
  color: yellow;
  font-family: fantasy;
}

@media (max-width: 500px) {
  .container {
    align-items: unset;
    flex-direction: column;
  }
}